nav{
    min-width: 200px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

a{
    color: whitesmoke;
}

a:hover{
    color: #ffcc66;
    transition-duration: 200ms;
}

.in-cart{
    background-color: red;
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    margin-left: 0.25rem;
}